
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="row">
    <div class="col-xs-4" style="height: 100vh; background-color: #bbb;">
        <div class="col-xs-12 text-center">
            <h2>Summoner</h2>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 panel panel-default">
                <br />
                <div class="col-xs-6">
                    <div class="col-xs-4 text-right">
                        <label>Division</label>
                    </div>
                    <div class="col-xs-8">
                        <p>Gold 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

